<!-- templates/admin_dashboard.html -->
{% block content %}
<h1>Admin Dashboard</h1>

{% if user.role in ['E', 'S'] %}
  <a href="/admin/tours/edit_tour">Create New Tour</a><br>
  <a href="/admin/transports/edit_transport">Create New Transport</a><br>
{% endif %}

{% if user.role == 'S' %}
  <a href="/admin/users">Manage Users</a><br>
{% endif %}

<h2>Manage Existing Tours and Transports</h2>
<ul>
  <li><a href="/admin/tours">View All Tours</a></li>
  <li><a href="/admin/transports">View All Transports</a></li>
</ul>
{% endblock %}